/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* DOCUMENT RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

html{
    scroll-behavior: smooth;
}

input, textarea, button, a{
    font: inherit;
    text-decoration: none;
    color: inherit;
} 

img{
    width: 100%;
    height: auto;
}

/* CSS  VARIABLES*/
:root{
    --ff: 'Open Sans', sans-serif;

    --color-1: #0C111F;
    --color-2: #F5B100;
    --color-3: #7723FE;
    --white: white;

    --h1: clamp(70px, 5rem, 60px);
    --h2: clamp(54px, 5rem, 64px);
    --h3: clamp(38px, 5rem, 48px);
    --h4: clamp(18px, 5rem, 24px);
    --p: clamp(12px, 5rem, 20px);
}

/* END OF CSS VARIABLES */

/* UTILITY CLASSES */
h1 {
    font-size: var(--h1);
    font-weight: 700;
}

h2 {
    font-size: var(--h2);
    font-weight: 900;
    line-height: 1.2;
}

h3 {
    font-size: var(--h3);
    font-weight: 600;
}

h4 {
    font-size: var(--h4);
    font-weight: 600;
}

p {
    font-size: var(--p);
    line-height: 1.8;
}

.container{
    width: min(1400px, 80%);
    margin-inline: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    padding: 4rem;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}


.button1 {
    padding: .7rem 1.3rem;
    background-image: linear-gradient(35deg, #ffd56a, var(--color-2));
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.button2 {
    padding: .5rem 1.5rem;
    background-image: linear-gradient(35deg, #8482FF ,#7723FE);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 12px;
}

.icon1 {
    width: 100px;
    border-radius: 50px;
    background-color: #f1eafb;
    padding: 1.5rem;
}

.icon2 {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #f1eafb;
    padding: .5rem;
}

.side2 {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.heroside1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;   
} 

.svg {
    width: 20px;
}

/* general styles */

header {
    background-color: var(--color-1);
    color: var(--white);
}

.navbar {
    width: min(1400px, 80%);
    margin-inline: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.nav_menu {
    display: flex;
    width: 40%;
    justify-content: space-between;
    /* display: none; */
}

.hamburger {
    display: none;
}

.nav_menu li {
    list-style: none;
    padding: .7rem 1.3rem;
}

.nav_menu li:hover {
    background-color: #F5B100;
    border-radius: 50px;
    color: black;
}

.herosection {
    background-color: var(--color-1);
    color: var(--white);
}

.heroimg {
    width: 80%;
}



.herobtn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.expsect {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.expsect h4 {
    margin-bottom: 1rem;    
}

.discover {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    margin-bottom: 2rem;
    align-items: center;
}

.clickbtn {
    display: flex;
    gap: 1rem;
}

.categories_list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    overflow: hidden;
    gap: 2rem;
    scroll-behavior: smooth;
    width: 1300px;
}

.categories {
    width: 400px;
    border-radius: 50px;
}

.cat_img {
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 10px 20px rgb(208, 208, 208);
}
.cat_cont {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.cat_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1eafb;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}

.newsletter {
    background-color: var(--color-1);
    color: var(--white);
}

.newsletter h2, .newsletter p{
    margin-bottom: 1.5rem;
}

.reserve {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
}

.res {
    background-color: #f1eafb;
}

.review_container {
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rv {
    transform: rotate(90deg);
}

.review button {
    margin: .2rem;
}

.review {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.rating {
    width: 150px;
}

.review_cont {
    padding: 1rem;
    box-shadow: -10px 10px 10px rgb(229, 229, 229);
    border-radius: 10px;
    border: 1px solid black;
}

footer {
    width: min(1400px, 80%);
    background-color: #f1eafb;
    padding: 2rem;
}




