/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* DOCUMENT RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

html{
    scroll-behavior: smooth;
}

input, textarea, button, a{
    font: inherit;
    text-decoration: none;
    color: inherit;
}

/* CSS  VARIABLES*/
:root{
    --ff: 'Open Sans', sans-serif;

    --color-1: #0C111F;
    --color-2: #F5B100;
    --color-3: #7723FE;

    --h1: clamp(70px, 5rem, 80px);
    --h2: clamp(54px, 5rem, 64px);
    --h3: clamp(38px, 5rem, 48px);
    --h4: clamp(18px, 5rem, 24px);
    --p: clamp(12px, 5rem, 20px);
}

/* END OF CSS VARIABLES */

/* UTILITY CLASSES */
h1 {
    font-size: var(--h1);
    font-weight: 800;
}

h2 {
    font-size: var(--h2);
    font-weight: 600;
}

h3 {
    font-size: var(--h3);
    font-weight: 600;
}

h4 {
    font-size: var(--h4);
    font-weight: 400;
}

p {
    font-size: var(--p);
}

.container{
    width: min(1400px, 90%);
    margin-inline: auto;
}

.button1 {
    padding: .7rem 1.3rem;
    background-image: linear-gradient(35deg, #ffd56a, var(--color-2));
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

/* general styles */

.navbar {
    width: min(1400px, 90%);
    margin-inline: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.nav_menu {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.nav_menu li {
    list-style: none;
    padding: 1rem;
}
